# Data
datasets/*
!datasets/.gitkeep
*.h5
*.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Ignore the large tokenized dataset folder
data/tokenized/*

# Keep the best model checkpoints, but ignore the rest of the models
models/generator/*
models/refiner/*