# Data
datasets/*
!datasets/.gitkeep
*.h5

# Resources
res/*

# Ignore the large tokenized dataset folder
data/tokenized/*

*.mid
*.midi
!generated_samples/*.mid
!generated_samples/*.midi
generated_samples/temp_*.mid
generated_samples/temp_*.midi

# Model files
models/*/*
!models/*/*keep*.pt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz