# Data
datasets/*
!datasets/.gitkeep
*.h5

*.mid
*.midi
!generated_samples/*.mid
!generated_samples/*.midi
generated_samples/temp_*.mid
generated_samples/temp_*.midi
*.mp3
*.wav

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Resources
res/*

# Ignore the large tokenized dataset folder
data/tokenized/*

# Keep the best model checkpoints, but ignore the rest of the models
models/*/*
!models/*/*keep*.pt
!models/lstm_*/*